{% extends 'listings/base.html' %}
{% block content %}

<h1>{{ announcement.title}}</h1>

<ul>
    <li>Type: {{ announcement.get_type_display }}</li>
    <li>L'année de sortie: {{ announcement.year }}</li>
    <li>Vendu: {{ announcement.sold|yesno }}</li>
</ul>

<p>{{ announcement.description }}</p>
<a href="{% url 'listing-update' announcement.id %}">Modifier ce groupe</a>
<a href="{% url 'listing-list' %}">Retourner à tous les groupes</a>
<a href="{% url 'listing-delete' announcement.id %}">Supprimer ce groupe</a>

{% endblock %}